<!-- This is the login.html file, designed to authenticate users securely. -->
<!-- I implemented form validation, CAPTCHA, and account lock mechanisms. -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Login</h1>
    <div class="p-2 row">
        <div class="col-3"></div>
        <div class="col-6">

            {% if not is_locked %}
            <form method="POST">
                <div class="p-2 bg-light border border-primary">
                    <div style="text-align: left">
                        {{ form.csrf_token() }}
                        <div>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% for category, message in messages %}
                            <div class="alert alert-{{ category }} mt-3 alert-dismissible" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert">
                                    <span>&times;</span>
                                </button>
                            </div>
                            {% endfor %}
                            {% endwith %}
                        </div>

                        <div class="form-group">
                            {{ form.email.label }}<span style="color: red">*</span>
                            {{ form.email(class="form-control") }}
                        </div>

                        <div class="form-group">
                            {{ form.password.label }}<span style="color: red">*</span>
                            {{ form.password(class="form-control") }}
                        </div>

                        <div class="form-group">
                            {{ form.mfa_pin.label }}<span style="color: red">*</span>
                            {{ form.mfa_pin(class="form-control") }}
                        </div>

                        <div class="form-group">
                            {{ form.recaptcha() }}
                        </div>

                        <div>
                            {{ form.submit(class="btn btn-success") }}
                        </div>
                    </div>
                </div>
            </form>
            {% else %}
            <div class="container text-center mt-5">
                <h1 class="display-4 text-danger">Account Locked</h1>
                <p class="lead">Your account is locked due to too many invalid login attempts.</p>
                <form method="GET" action="{{ url_for('accounts.unlock_account') }}">
                    <button type="submit" class="btn btn-success">Unlock Account</button>
                </form>
            </div>
            {% endif %}

        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}
